@import "tailwindcss";
a {
  text-decoration: none !important;
}

.auth-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 30px auto;
  gap: 10px;
}

.auth-form input,
.auth-form select,
.auth-form button {
  padding: 10px;
  font-size: 1rem;
}
